{% extends 'ricamo/base.html' %}
    {% load static %}

{% block main %}
  <main id="main">

              <section style="margin-auto;margin-top:200px!important;min-height:300px;">
                  <div class="container" style="" data-aos="fade-up">
                              <div class="section-header">
                                <h3 class="section-title" style="font-size:40px">500 Server Error</h3>          <hr>
                                <p class="section-description">Kach haja ca va pas. <a href="{% url 'index' %}">Continue shopping</a></p>
                              </div>
              
                  </div>
                </section><!-- End Team Section -->
            
  </main><!-- End #main -->
{% endblock %}
{% block scripts %}
<script>
    document.getElementById('header').classList.remove('header-transparent');
    document.getElementById('header').classList.add('header-scrolled');
</script>
    
{% endblock %}