{% extends 'ricamo/base.html' %}
{% load static %}


{% block hero %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      
      <h3 style="font-family : RothekExtraLight; color : #fff"> WEAR ART </h3>
      <!--<a href="#about" class="btn-get-started">SHOP NOW</a>-->
      <a href="#about" class="btn-get-started">SHOP NOW</a>
    </div>
  </section><!-- End Hero Section -->
{% endblock %}

{% block main %}
  <main id="main">

    <!-- ======= Facts Section ======= -->
    <section id="facts" style="background:transparent;margin-bottom: 0;margin-top:0;">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Embroided Art</h3>
            <hr>
            <p class="section-description">We don't print! No, we apply complex embroidery that makes the artworks even more detailed! It takes more than 45.000 stitches and over one hour to complete a single design. All of this is made in Algeria, Bougie with love.</p>
          </div>
         
        </div>
      </section><!-- End Facts Section -->
  

    <!-- ======= About Section ======= -->
    <section id="about" class="second-section">
      <div class="container category-container">
          <div class="section-header">
              <h3 class="section-title">Shop by category</h3>          <hr>

              <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
            </div>
      <div id="my_wrapper" class="d-flex" style="height:500px;overflow:auto;overscroll-behavior: auto" data-aos="fade-up">
        

          
          {% for cat in clo_categories %}
          <div class="image-container-container col-sm-6 d-flex justify-content-center">
            <div class="image-container d-flex justify-content-center"  style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%),url('{{cat.image.url}}');">
              <span class="category-describer">{{cat}}</span>
              <a class="appear-button" href="{% url 'category' cat %}" >View</a>
            </div>
          </div>
          {% endfor %}
          {% for cat in acc_categories %}
          <div class="image-container-container col-sm-6 d-flex justify-content-center">
            <div class="image-container d-flex justify-content-center"  style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%),url('{{cat.image.url}}');">
              <span class="category-describer">{{cat}}</span>
              <a class="appear-button" href="{% url 'category' cat %}" >View</a>
            </div>
          </div>
  
          {% endfor %}
          <div class="image-container-container col-sm-6 d-flex justify-content-center">
            <div class="image-container d-flex justify-content-center"  style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%),url('{% static 'img/Sweater.jpg' %}');">
              <span class="category-describer">All Products</span>{% with all='all' %}
              <a class="appear-button" href="{% url 'category' all %}" >View</a>{% endwith %}
            </div>
          </div>
          
      </div>


      </div>
    </section><!-- End About Section -->


       
          <section id="call-to-action" class="cta1 justify-content-center">
                <video src="{% static 'img/behind-the-brand.mp4' %}" type="video/mp4" autoplay muted loop id="behind-the-brand-video"></video>
                <div class="container inside-video d-flex justify-content-around">
                    <div style="margin: auto; margin-left:0" class="col-lg-9 text-center text-lg-start">
                      <h3 class="cta-title">Behind The Brand</h3>
                      <p class="cta-text" style="text-transform: uppercase;font-family: RothekExtraLight;"> Embroided Art</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center"  style="margin-block:auto">
                        <a class="cta-btn align-middle" href="{% url 'brand'%}">Read more</a>
                      </div>
                  </div>
                  <span id="video-sound" class="sound_off"></span>
                
        
              </div>
            </section><!-- End Call To Action Section -->
            <section id="call-to-action2" class="cta2 text-align-center">
                <video src="{% static 'img/behind-the-braand.mp4' %}" type="video/mp4" autoplay muted loop id="behind-the-brand-video2"></video>
                <div class="container inside-video2">
                    <div style="margin: auto;" class="col-lg-9 text-lg-start">
                      <h3 class="cta-title">Behind The Brand</h3>
                      <p class="cta-text" style="text-transform: uppercase;font-family: RothekExtraLight;"> Embroided Art</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container">
                        <a class="cta-btn align-middle" href="{% url 'brand'%}">Read more</a>
                      </div>
                  </div>
                  <span id="video-sound2" class="sound_off"></span>
                
        
              </div>
            </section><!-- End Call To Action Section -->

  
    
    
    
    <section id="team">
      <div class="container" ><!--data-aos="fade-up"-->
                  <div class="section-header">
                    <h3 class="section-title">Popular Drops</h3>          <hr>

                  </div>

        
        <div class="row"  data-aos="fade" data-aos-delay="1">
          {% for product in products %}
          <div class="col-lg-4 col-md-5 col-sm-4 col-6">
            <a style="color:black" href="{% url 'product' product.name %}"><div class="member"><!-- data-aos="fade" data-aos-delay="1"-->
              <div class="pic" style="background-image:url({{product.image.url}})"><!--<img src="{{product.image.url}}" alt="">--></div>
              <h4 style="text-transform: uppercase;">{{product.name}} | {{product.category}}</h4>
              {% if product.discounted_price %}
                <span class="price-col"><del>{{product.price}} DA</del> {{product.discounted_price}} DA</span>
              {% else %}
                <span class="price-col">{{product.price}} DA</span>

              {% endif %}

              
            </div></a>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
{% endblock %}
{% block scripts %}
  <script>

    var wid = window.innerWidth;
    if (wid < 570){
      document.getElementsByClassName("cta2")[0].style.display = "block!important";

      document.getElementsByClassName("cta1")[0].style.display = "none";

    }else{
      document.getElementsByClassName("cta1")[0].classList.add("d-flex");
      document.getElementById("call-to-action2").style.display = "none";
    }
    document.getElementById("my_wrapper").firstElementChild.classList.add("first-image-container");
    document.getElementById("my_wrapper").lastElementChild.classList.add("last-image-container");
    var span = document.getElementById("video-sound");
    span.addEventListener("click", sound_switch);
    function sound_switch(span){
      span_vid = span.target;
      if (span_vid.className == "sound_on"){
        span_vid.classList.remove("sound_on");
        span_vid.classList.add("sound_off");
        document.getElementById("behind-the-brand-video").muted=true;
      }
      else if(span_vid.className == "sound_off"){
        span_vid.classList.remove("sound_off");
        span_vid.classList.add("sound_on");
        document.getElementById("behind-the-brand-video").muted=false;
      }
      else{
        print("abouz");
      }
    }
    var span2 = document.getElementById("video-sound2");
    span2.addEventListener("click", sound_switch2);
    function sound_switch2(span2){
      span_vid = span2.target;
      if (span_vid.className == "sound_on"){
        span_vid.classList.remove("sound_on");
        span_vid.classList.add("sound_off");
        document.getElementById("behind-the-brand-video2").muted=true;
      }
      else if(span_vid.className == "sound_off"){
        span_vid.classList.remove("sound_off");
        span_vid.classList.add("sound_on");
        document.getElementById("behind-the-brand-video2").muted=false;
      }
      else{
        print("abouz");
      }
    }
    function getRandomInt(min,max){return Math.floor(Math.random()*(max-min+1))+min;}
    function nextBg(){
      var rand = getRandomInt(1,7);
      var url = "url(/static/img/" + rand + ".jpg)";
      document.getElementById("hero").style.backgroundImage=url;

      setTimeout(nextBg, 10000);
    }
    nextBg();
  </script>
{% endblock %}
