<section style="margin-top: 150px;margin-bottom: 10px;min-height: 450px;">  
    <div id="part-1" class="container">
        <div class="section-header" style="margin-bottom:50px">
            <h3 class="section-title">Commande éffectuée</h3>
            <hr>
        </div>
        <div style="width:fit-content;margin:auto;margin-top:40px;">
                
            <div>
                    <span style="font-family: MagnumSansExtraLight">{{success}}</span>
            </div>
            <div>
              <p style="font-family: MagnumSansExtraLight">
                  On vous contactera très prochainement pour la confirmer.<br>
                Votre commande devrait arriver dans quelques jours.<br>
                 On vous appellera très prochainement pour confirmer votre commande.
                 
              </p>
              <div style="width: 100%;position: relative;height: 80px;">
                  <button onclick="gotohome()" class="btn-suivanttt">Aller vers l'Accueil</button>
              </div>
            </div>
        </div>

    </div>
</section>
